.container {
    background-color: lightslategray;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px;
    margin: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}