.container {
    background-color: rgb(8, 4, 22);
    border-radius: 4px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(68, 68, 143, 0.5);
    margin: 30px;
    text-align: center;
    font-family:"12"'Courier New', Courier, monospace;

}

.container h1 {
    color: rgb(255, 255, 255);
}

.container p {
    color: rgb(96, 176, 255);
}

.estiloBoton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}